.tes {
  background-color: red;
  height: 80px;
  width: 80px;
}

.pp {
  color: yellow;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
